body{

   .pessoa{
        background-color: #97dc81;
        padding: 20px;
        color: red($color: #54e029);
    }

    h2{
        color: rgb(244, 9, 9);
    }
    p{
        color: rgb(0, 0, 0);
    }
}