body{

   .pessoa{
        background-color: #54e029;
        padding: 20px;
        color: red($color: #54e029);
    }

    h2{
        color: rgb(244, 9, 9);
    }
    p{
        color: rgb(69, 11, 242);
    }
}